<html>
<head>
<meta name="viewpoint" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" href="css/default.css">

<title>new title</title>


<style> .slide {
font-size: 36px; 
}

</style> 
</head> 
<body>
<div id="impress">
    <div class="step slide"  data-y="50000" data-x="55000">
        <div style="height:100%; width:100%;">
            <p >
            <span style="font-size: 150%;">
                First text
            </span>
            </p><br>
            <p >
            <span >
                Second text
            </span>
            </p><br>
        </div>
    </div>
    <div class="step slide"  data-y="47830.58130441221" data-x="54504.8443395121">
        <div style="height:100%; width:100%;">
            <p >
            <strong >
                <span >
                    new slide
                </span>
            </strong>
            </p><br>
        </div>
    </div>
    <div class="step slide" style="font-size: 30px;;background-color: rgba(100,200,100,0.6);" data-y="46090.84258765985" data-x="53117.44900929367">
        <div style="height:100%; width:100%;">
            <div style="height:100%; width:100%">
                <div style="height:100%; width:33%; float:left;">
                    <p >
                    <span >
                        col1
                    </span>
                    </p>
                </div>
                <div style="height:100%; width:33%; float:left;">
                    <p >
                    <span >
                        col2
                    </span>
                    </p>
                </div>
                <div style="height:100%; width:33%; float:left;">
                    <p >
                    <span >
                        col3
                    </span>
                    </p>
                </div>
                <div style="float:clear">

                </div>
            </div><br>
        </div>
    </div>
    <div class="step slide"  data-y="45125.36043909088" data-x="51112.60466978157">
        <div style="height:100%; width:100%;">
            <div style="height:100%; width:100%">
                <div style="height:33%; width:100%;">
                    <p >
                    <span >
                        row1
                    </span>
                    </p>
                </div>
                <div style="height:33%; width:100%;">
                    <p >
                    <span style="background-color: rgba(233,233,255,1);;border-radius:12px;">
                        row2
                    </span>
                    </p>
                </div>
                <div style="height:33%; width:100%;">
                    <p >
                    <span >
                        row3
                    </span>
                    </p>
                </div>
            </div><br>
        </div>
    </div>
    <div class="step slide"  data-y="45125.36043909088" data-x="48887.39533021843">
        <div style="height:100%; width:100%;">
            <div style="height:100%; width:100%">
                <div style="height:50%; width:100%;">
                    <div style="height:100%; width:100%">
                        <div style="height:100%; width:50%; float:left;">
                            <p >
                            <span >
                                I
                            </span>
                            </p>
                        </div>
                        <div style="height:100%; width:50%; float:left;">
                            <p >
                            <span >
                                love
                            </span>
                            </p>
                        </div>
                        <div style="float:clear">

                        </div>
                    </div>
                </div>
                <div style="height:50%; width:100%;">
                    <p >
                    <span >
                        scheme
                    </span>
                    </p>
                </div>
            </div><br>
        </div>
    </div>
    <div class="step slide"  data-y="46090.84258765985" data-x="46882.55099070633">
        <div style="height:100%; width:100%;">
            <ol >
                <li >
                <p >
                <span >
                    first item
                </span>
                </p>
                </li>
                <li >
                <p >
                <span >
                    second item
                </span>
                </p>
                </li>
                <li >
                <p >
                <span >
                    third item
                </span>
                </p>
                </li>
                <li >
                <ul >
                    <li >
                    <p >
                    <span >
                        inner first
                    </span>
                    </p>
                    </li>
                    <li >
                    <p >
                    <span >
                        inner second
                    </span>
                    </p>
                    </li>
                </ul>
                </li>
            </ol><br>
        </div>
    </div>
    <div class="step slide"  data-y="47830.58130441221" data-x="45495.15566048791">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="50000.0" data-x="45000.0">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="52169.41869558779" data-x="45495.1556604879">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="53909.15741234015" data-x="46882.55099070633">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="54874.63956090912" data-x="48887.39533021842">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="54874.63956090912" data-x="51112.60466978157">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="53909.15741234015" data-x="53117.44900929367">
        <div style="height:100%; width:100%;">

        </div>
    </div>
    <div class="step slide"  data-y="52169.41869558779" data-x="54504.84433951209">
        <div style="height:100%; width:100%;">

        </div>
    </div>
</div>
<script style="text/javascript" src="js/impress.js"></script>
<script>
impress().init();
</script> 
</body> 
</html>
